* {
  box-sizing: border-box;
  margin: 0;
}
.hero {
  background-color: #5db1b4;
  padding: 15px;
  max-width: 1000px;
  width: 100%;
  margin: 50px auto 0;
}
.hero__top {
  display: flex;
  justify-content: baseline;
 
}
.hero__img {
  background-color: #fff;
  display: flex;
  height: 300px;
  width: 300px;
  padding: 25px;
}
.hero__img-item {
  height: 250px;
  width: 250px;
}
.hero__item {
  background-color: rgba(173, 65, 65, 0);
  margin-bottom: 35px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 90px;
}
.hero__item:last-child {
  height: 90px;
}
.hero__info {
  list-style: none;
  padding: 0;
  margin-left: 45px;
  width: 100%;
}
.hero__bottom{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
